<html>
<title>Impressum</title>
<body>
<h1>Impressum</h1>
<br>
<p>


Angaben gemäß § 5 TMG:<br>

Stiftung<br>
Musterstrasse<br>
48143 Münster<br>
Vertreten durch:<br>
<br>
Fabian Weßling<br>
Jannik van Schaik<br>
David Göttl<br>
Kontakt:<br>
<br>
Telefon:<br>
	<br>

12345/6789<br>
<br>
Telefax:<br>
	<br>

E-Mail:<br>
	<br>

info@stiftung.de<br>
Registereintrag:<br>
<br>
Eintragung im Handelsregister.<br>
Registergericht:Münster<br>
Registernummer: 4444444555<br>
Umsatzsteuer-ID:<br>
<br>
Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
6664545<br>
Aufsichtsbehörde:<br>
<br>
Stadt Münster<br>
<br>
Berufsbezeichnung: anderer Beruf<br>
Zuständige Kammer:<br>
Verliehen durch:<br>
Es gelten folgende berufsrechtliche Regelungen:<br>
Regelungen einsehbar unter: <br>
</p>

</body>
</html>
